.root {
    -fx-background-color: lightslategray;

}
#bathroomLightButton, #bedroomLightButton, #kitchenLightButton, #livingroomLightButton, #masterBedroomLightButton {
    -fx-background-radius: 5em;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-max-width: 45px;
    -fx-max-height: 45px;
}
.button{
    -fx-font-weight: bold;
}